@media only screen and (max-width: 1500px) {
	.team-section {
		.team-item {
			width: 47%;
		}
		.image {
			height: 30vw;
		}
	}
	.team-section .team-item:nth-child(3n){
		margin-right: 3%;
	}
	.team-section .team-item:nth-child(2n){
		margin-right: 0;
	}
	.image-slider .image {
		height: 50vh;
	}
	.files{
		.file-item {
			width: 47%;
		}
		.image {
			height: 30vw;
			iframe{
				height: 30vw;
			}
		}
	}
}

@media only screen and (max-width: 1100px) {
	h1 {
		font-size: 42px;
	}
	
	h2 {
		font-size: 30px;
	}
	
	h3 {
		font-size: 24px;
	}

	h4 {
		font-size: 16px;
	}
	
	p,
	a,
	li {
		font-size: 16px;
	}

	.container{
		margin-top: 14px;
	}

	.columns-section .columns .column h1{
		font-size: 42px;
	}

	.navbar {
		nav {
			display: none;
		}
	}

	.mobile-menu{
		display: block;
	}

	.team-section {
		.team-item {
			margin-bottom: 48px;
			width: 100%;
			margin-right: 0;
		}
		.image {
			height: 40vw;
		}
	}
	.image-slider .image {
		height: 40vh;
	}
	.form-section {

		.form-wrapper {
			flex-direction: column;

			.info {
				width: 100%;
			}

			.form {
				width: 100%;

				h3 {
					margin-top: 24px;
				}
			}
		}
	}
}


@media only screen and (max-width: 900px) {
	h1{
		font-size: 30px;
	}
	h3{
		font-size: 20px;
	}
	.big{
		font-size: 42px;
	}
	.container{
		width: 92vw;
		margin-left: 4vw;
		margin-right: 4vw;
	}
	.language{
		display: none;
	}
	.navbar {
		.logo{
			width: 140px;
			height: 100px;
			margin-left: -5px;
			margin-top: -8px;
		}
	}
	.hero-image {
		height: 35vh;
		.img-wrapper{
			width: 100vw;
			height: 35vh;
		}
	}
	.team-section {
		.image {
			height: 70vw;
		}
	}
	.landing-page{
		width: 100vw;
		overflow: hidden;
		.img-wrapper{
			width: 100vw;
		}
		.intro{
			margin-left: 4vw;
		}
	}
	.film-items{
		.film-item{
			width: 100%;
		}
		.image {
			height: 70vw;
		}
	} 
	.sidebar-wrapper{
		display: none;
	}
	footer{
		flex-direction: column;
		padding-left: 4vw;
		padding-bottom: 4vw;
		align-items: flex-start;
		h2{
			margin-top: 24px;
			margin-bottom: 24px;
		}
	}
}

@media only screen and (max-width: 600px) {
	.columns-section {
		padding: 24px 0;
		.columns{
			flex-direction: column;
			.column{
				width: 100%;
				h1{
					margin: 0;
				}
			}
		}
	}
	.film-info-columns{
		flex-direction: column;
		.film-info-column{
			width: 100%;
		}
	}
	.image-text{
		flex-direction: column;
		.image{
			width: 100%;
			height: auto;
		}
		.text{
			width: 100%;
		}
	}
	.image-slider .image{
		height: 25vh;
	}
	.files {
		.file-item {
			width: 100%;
		}

		.image {
			height: 70vw;

			iframe {
				height: 70vw;
			}
		}
	}
	.partners-section{
		.logos{
			flex-wrap: wrap;
		}
	} 
	.ondemand {
		.trailer{
			margin-top: 48px;
		}
		.flex{
			flex-direction: column;
		}
		.info{
			width: 100%;
		}
		.rent-button{
			padding: 5px 20px;
		}
		.poster{
			width: 100%;
			max-width: 100%;
		}
	}
}