@import "flag-icons/css/flag-icons.css";

@font-face {
	font-family: Monument;
	src: url('fonts/ABCMonumentGroteskVariable.ttf') format('truetype');
}

@font-face {
	font-family: Monument-mono;
	src: url('fonts/ABCMonumentGroteskSemi-Mono-Regular.otf') format('opentype');
}

$green: #C4E31C;
$red: rgba(255,0,0,0.35); 

.green{
	color: #C4E31C;
}

body{
	background-color: black;
	color: white;
	font-family: Monument;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1{
	font-size: 52px;
	font-weight: 300;
}
h2 {
	font-size: 40px;
	font-weight: 300;
}
h3{
	font-size: 30px;
	font-family: Monument-mono;
	font-weight: 300;
}
h4{
	font-size: 20px;
}
p, a{
	font-size: 20px;
}
a{
	line-height: 1;
}
.big{
	font-size: 70px;
	line-height: 1;
	font-family: Monument-mono;
	font-weight: normal;
}
.small{
	font-size: 16px;
	p{
		font-size: 16px;
	}
}
a{
	color: white;
}

.navbar{
	display: flex;
	position: fixed;
	z-index: 9;
	.logo{
		width: 250px;
		height: 150px;
		position: relative;
		img{
			width: 100%;
			height: auto;
			object-fit: contain;
		}
	}
	nav{
		margin-top: 14px;
		margin-left: 2vw;
		display: flex;
		a{
			color: white;
			text-decoration: none;
			margin: 0 3vw;
			font-size: 30px;
			font-weight: medium;
		}
	}
}

footer{
	display: flex;
	justify-content: space-between;
	padding-left: 140px;
	padding-right: 2vw;
}

.language{
	position: fixed;
	left: 0;
	bottom: 5vh;
	width: 125px;
	text-align: center;
	a{
		font-size: 28px;
		text-decoration: none;
		text-transform: capitalize;
	}
}

.container{
	width: calc(85vw - 250px);
	margin-left: calc(250px + 5vw);
}


// landing page
.landing-page{
	height: 100vh;
	display: flex;
	align-items: flex-end;
	.img-wrapper{
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		height: 100vh;
		width: calc(100vw - 140px);
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 0 0 0 15px;
		}
	}
	.intro{
		width: 700px;
		margin-left: calc(250px + 8vw);
		padding-bottom: 10vh;
		a{
			text-decoration: none;
			padding-left: 30px;
			position: relative;
			&:before{
				content: "";
				position: absolute;
				width: 20px;
				height: 20px;
				left: 0;
				background-image: url(./plus.svg);
				background-repeat: no-repeat;
				background-size: contain;
			}
		}
	}
}

// hero
.hero-image{
	height: 50vh;
	&.medium{
		height: 60vh;
		.img-wrapper {
			height: 60vh;
		}
	}
	&.big {
		height: 100vh;
		.img-wrapper {
			height: 100vh;
		}
	}
	.img-wrapper{
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		height: 50vh;
		width: calc(100vw - 140px);
	
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 0 0 0 15px;
			filter: brightness(50%);
		}
	}
}

.big-text{
	width: 100%;
	min-height: 50vh;
}

.columns-section{
	min-height: 60vh;
	.title{
		border-bottom: 1px solid white;
		margin: 0;
		font-weight: 300;
	}
	h3{
		margin-bottom: 10px;
	}
	.column-small {
		margin-top: 24px;
		padding-top: 10px;
		border-top: 1px solid white;
		strong{
			color: $green;
		}
	}
	.columns {
		display: flex;
		justify-content: space-between;

		&.contact {
			.column {
				display: flex;

				&:nth-child(2) {
					border-bottom: 0.5px solid white;
				}
			}

			.column * {
				width: 50%;
			}
		}

		.column {
			width: 45%;

			h1 {
				font-size: 65px;
				line-height: 1;
				font-family: Monument-mono;
				font-weight: normal;
				margin-left: 0;
			}
		}
	}
}

.film-info{
	min-height: 40vh;
	padding: 24px 0;
	display: flex;
	justify-content: flex-end;
	.wrapper{
		width: 600px;
	}
	p{
		margin: 0
	}
	h1{
		margin: 0;
		line-height: 1;
	}
	.extra-info{
		margin-top: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid white;
	}
}

.film-links{
	margin-top: 24px;
	a{
		text-decoration: none;
		margin-right: 30px;
	}
}

.play-button{
	padding-left: 30px;
	position: relative;
	&:before{
		content: "";
		position: absolute;
		width: 20px;
		height: 20px;
		left: 0;
		background-image: url('play.svg');
		background-repeat: no-repeat;
		background-size: contain;
	}
}

.film-items{
	padding: 48px 0;
	min-height: 50vh;
	h1{
		border-bottom: 1px solid white;
	}
	.wrapper{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.film-item{
		width: 48%;
		margin-bottom: 24px;
		h3, p{
			margin: 0;
			line-height: 1.1;
		}
	}
	.image {
		width: 100%;
		height: 20vw;
		position: relative;
		margin-bottom: 14px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 15px 15px 0 0;
		}
	}
}

.team-section{
	padding: 48px 0;
	min-height: 80vh;
	h1{
		border-bottom: 1px solid white;
	}
	.wrapper{
		display: flex;
		flex-wrap: wrap;
	}
	.team-item {
		width: 30%;
		margin-right: 3%;
		margin-bottom: 24px;
		&:nth-child(3n){
			margin-right: 0;
		}
		h3,
		p {
			margin: 0;
			line-height: 1.1;
		}
		h3{
			padding-bottom: 10px;
			border-bottom: 1px solid white;
		}
	}
	.image {
		width: 100%;
		height: 20vw;
		position: relative;
		margin-bottom: 14px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 15px 15px 0 0;
		}
	}
}