@import "flag-icons/css/flag-icons.css";

@font-face {
	font-family: Monument;
	src: url('fonts/ABCMonumentGroteskVariable.ttf') format('truetype');
}

@font-face {
	font-family: Monument-mono;
	src: url('fonts/ABCMonumentGroteskSemi-Mono-Regular.otf') format('opentype');
}

$green: #C4E31C;
$red: rgba(255,0,0,0.35); 

.green{
	color: #C4E31C;
}

html, body{
	scroll-behavior: smooth;
	width: 100vw;
	overflow-x: hidden;
}

body{
	background-color: black;
	color: white;
	font-family: Monument;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1{
	font-size: 52px;
	font-weight: 300;
}
h2 {
	font-size: 40px;
	font-weight: 300;
}
h3{
	font-size: 30px;
	font-family: Monument-mono;
	font-weight: 300;
}
h4{
	font-size: 20px;
}
p, a, li{
	font-size: 20px;
}
a{
	line-height: 1;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	&:hover{
		color: $green;
	}
}
p{
	a{
		text-decoration: underline;
		color: $green;
	}
}
.big{
	font-size: 70px;
	line-height: 1;
	font-family: Monument-mono;
	font-weight: normal;
}
.small{
	font-size: 16px;
	p{
		font-size: 16px;
	}
}
a{
	color: white;
}

.hamburger{
	position: fixed;
	right: 4vw;
	top: 4vw;
	width: 48px;
	height: 48px;
	mask-image: url('hamburger.svg');
	mask-size: contain;
	mask-repeat: no-repeat;
	background-color: white;
	z-index: 1;
}

.close {
	position: fixed;
	right: 10vw;
	top: 4vh;
	font-size: 48px;
	z-index: 8;
}

.ReactModal__Overlay{
	z-index: 8;
	.language{
		bottom: 10vh; 
	}
}

.mobile-menu{
	display: none;
}

.nav-links{
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80vw;
	margin: auto;
	.language{
		display: block;
	}
	.nav-item{
		margin: 14px 0;
	}
	a{
		font-size: 30px;
	}
}

.navbar{
	display: flex;
	position: relative;
	z-index: 9;
	.logo{
		width: 250px;
		height: 150px;
		position: fixed;
		img{
			width: 100%;
			height: auto;
			object-fit: contain;
		}
	}
	nav{
		padding: 14px 0;
		margin-left: calc(250px + 5vw);
		margin-top: 5px;
		display: flex;
		a{
			color: white;
			text-decoration: none;
			margin: 0 3vw;
			font-size: 30px;
			font-weight: medium;
			transition: all 0.4s ease-in-out;
			&:hover {
				color: $green;
			}
		}
	}
}

footer{
	display: flex;
	justify-content: space-between;
	padding-left: 140px;
	padding-right: 2vw;
	padding: 24px 2vw 24px 140px;
	align-items: flex-end;
	h2, p{
		margin: 0;
	}
}

.language{
	position: fixed;
	left: 0;
	bottom: 24px;
	width: 95px;
	text-align: center;
	a{
		font-size: 28px;
		text-decoration: none;
		text-transform: capitalize;
	}
}

.container{
	width: calc(85vw - 250px);
	margin-left: calc(250px + 5vw);
	margin-top: -48px;
}


// landing page
.landing-page{
	height: 100vh;
	display: flex;
	align-items: flex-end;
	.img-wrapper{
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		height: 100vh;
		width: calc(100vw - 140px);
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 0 0 0 15px;
		}
	}
	.intro{
		width: 700px;
		margin-left: calc(250px + 5vw);
		padding-bottom: 15vh;
		a{
			text-decoration: none;
			padding-left: 30px;
			position: relative;
			&:before{
				content: "";
				position: absolute;
				width: 20px;
				height: 20px;
				left: 0;
				background-image: url(./plus.svg);
				background-repeat: no-repeat;
				background-size: contain;
			}
		}
	}
}

// hero
.hero-image{
	height: 50vh;
	&.medium{
		height: 60vh;
		.img-wrapper {
			height: 60vh;
		}
	}
	&.big {
		height: 100vh;
		position: absolute;
		z-index: -1;
		.img-wrapper {
			height: 100vh;
		}
	}
	.img-wrapper{
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		height: 50vh;
		width: calc(100vw - 140px);
	
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 0 0 0 15px;
			filter: brightness(50%);
		}
		&.top{
			img{
				object-position: top;
			}
		}
		&.middle {
			img {
				object-position: center;
			}
		}
		&.bottom {
			img {
				object-position: bottom;
			}
		}
	}
}

.big-text{
	width: 100%;
	min-height: 50vh;
}

.columns-section{
	padding: 48px 0;
	// min-height: 60vh;
	.title{
		border-bottom: 1px solid white;
		margin: 0;
		font-weight: 300;
	}
	h3{
		margin-bottom: 0px;
	}
	.column-small {
		// margin-top: 24px;
		padding-top: 10px;
		border-top: 1px solid white;
		font-size: 16px;
		li, p{
			font-size: 16px;
		}
		strong{
			color: $green;
		}
	}
	.columns {
		display: flex;
		justify-content: space-between;

		.column{
			margin-bottom: 24px;
		}

		&.contact {
			.column {
				display: flex;

				&:nth-child(2) {
					border-bottom: 0.5px solid white;
				}
			}

			.column * {
				width: 50%;
			}
		}

		.column {
			width: 45%;

			h1 {
				font-size: 65px;
				line-height: 1;
				font-family: Monument-mono;
				font-weight: normal;
				margin-left: 0;
			}
		}
	}
}

.film-info-columns-wrapper{
	padding: 48px 0;
	.title {
		font-weight: 300;
		margin: 0;
	}
	p {
		margin: 14px 0 0 0 0;
	}
}

.film-info{
	// min-height: 40vh;
	padding: 24px 0;
	display: flex;
	justify-content: flex-end;
	.wrapper{
		width: 600px;
	}
	p{
		margin: 0
	}
	h1{
		margin: 0;
		line-height: 1;
	}
	.extra-info{
		margin-top: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid white;
	}
}

.film-links{
	margin-top: 24px;
	a{
		text-decoration: none;
		margin-right: 30px;
	}
}

.play-button{
	padding-left: 30px;
	position: relative;
	&:before{
		content: "";
		position: absolute;
		width: 20px;
		height: 20px;
		left: 0;
		background-image: url('play.svg');
		background-repeat: no-repeat;
		background-size: contain;
	}
}

.film-items{
	padding: 48px 0;
	// min-height: 50vh;
	h1{
		border-bottom: 1px solid white;
	}
	.wrapper{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.film-item{
		width: 48%;
		margin-bottom: 24px;
		h3, p{
			margin: 0;
			line-height: 1.1;
		}
	}
	.image {
		width: 100%;
		height: 20vw;
		position: relative;
		margin-bottom: 14px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 15px 15px 0 0;
		}
	}
}

.subtitle{
	margin: 0;
	line-height: 1;
}

.embed{
	h1 {
		border-bottom: 1px solid white;
		margin: 14px 0;
	}
	iframe{
		margin-top: 14px;
	}
}

.files {
	padding: 48px 0;

	// min-height: 50vh;
	h1 {
		border-bottom: 1px solid white;
		margin-top: 0;
	}

	.wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.file-item {
		width: 30%;
		margin-bottom: 24px;

		h3,
		p {
			margin: 0;
			line-height: 1.1;
		}
	}

	.image {
		width: 100%;
		height: 20vw;
		position: relative;
		margin-bottom: 14px;
		overflow: hidden;
		margin-top: -50px;
		img,
		iframe {
			width: 100%;
			height: 20vw;
			border-radius: 15px 15px 0 0;
			overflow: hidden;
			border: none;
			object-fit: contain;
		}
	}
}

.team-section{
	padding: 48px 0;
	// min-height: 80vh;
	h1{
		border-bottom: 1px solid white;
	}
	.wrapper{
		display: flex;
		flex-wrap: wrap;
	}
	.team-item {
		width: 30%;
		margin-right: 3%;
		margin-bottom: 24px;
		&:nth-child(3n){
			margin-right: 0;
		}
		h3,
		p {
			margin: 0;
			line-height: 1.1;
		}
		h3{
			padding-bottom: 10px;
			border-bottom: 1px solid white;
		}
	}
	.image {
		width: 100%;
		height: 20vw;
		position: relative;
		margin-bottom: 14px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 15px 15px 0 0;
		}
	}
}


.hero-film{
	overflow-x: hidden;
	.hero-image{
		position: absolute;
		width: 100%;
		overflow-x: hidden;
		left: 0;
		top: 0;
		cursor: pointer;
		&.small{
			height: 60vh;
			.img-wrapper{
				height: 100%;
				overflow: hidden;
				border-radius: 0 0 0 15px;
			}
		}
		&.big,
		&.null {
			height: 100vh;
			position: absolute;
			z-index: -1;

			.img-wrapper {
				overflow: hidden;
				height: 100vh;
				border-radius: 0 0 0 15px;
			}
		}
		.iframe-wrapper {
			position: relative;
			width: 100%;
			overflow: hidden;
			// padding-top: 56.25%;
			border-radius: 0 0 0 15px;
			height: 100vh;
			/* 16:9 Aspect Ratio */
		}

		iframe {
			position: absolute;
			top: -50px;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
			border: none;
			display: none;
			cursor: pointer;
			z-index: -1;
		}
	}
	.film-info{
		height: 100vh;
		align-items: flex-end;
		.wrapper{
			padding-bottom: 150px;
		}
	}
	.main-links{
		display: flex;
		flex-wrap: wrap;
		margin-top: 24px;
		a{
			text-decoration: none;
			border: 1px solid white;
			margin: 0 14px 10px 0;
			padding: 10px 20px;
		}
	}
}

.quote{
	padding: 48px 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	max-width: 900px;
	text-align: center;
	h3{
		margin: 0;
	}
}

.partners-section{
	padding: 48px 0;
	h1{
		border-bottom: 1px solid white;
	}
	.logos{
		background-color: white;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 48px 14px;
		border-radius: 15px 15px 0 0;
	}
	.image {
		width: 120px;
		height: 120px;
		position: relative;
		margin-bottom: 14px;
		margin-right: 14px;
		margin-left: 14px;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			
		}
	}
}

.film-info-columns{
	border-top: 1px solid white;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
	.film-info-column{
		width: 32%;
		// overflow: hidden;
		word-break: break-word;
	}
}

iframe{
	width: 100%;
	margin: 48px 0;
}

.small iframe{
	height: 100px;
}

.big iframe {
	height: 80vh;
}

.image-text{
	margin: 48px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	.image {
		width: 30%;
		height: auto;
		// height: 80vh;
		position: relative;
		margin-bottom: 14px;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: left;
			border-radius: 15px 15px 0 0;
		}
	}
	.text{
		width: 65%;
		h3{
			border-bottom: 1px solid white;
		}
	}
}

.image-slider{
	margin: 48px 0;
	h1{
		border-bottom: 1px solid white;;
	}
	.image {
		width: 100vw;
		height: 70vh;
		position: relative;
		margin-bottom: 14px;
		position: relative;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

.basic-image{
	margin: 48px 0;
	h1 {
		border-bottom: 1px solid white;
	}
	.image {
		width: 100%;
		height: 70vh;
		position: relative;
		margin-bottom: 14px;
		position: relative;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: left;
		}
	}
}

.Collapsible__trigger{
	cursor: pointer;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	line-height: 1;
	&:after{
		content: "+";
		font-size: 40px;
	}
}

.team-section .team-item .inner-collapsible{
	padding-top: 14px;
	p{
		font-size: 16px;
		line-height: 1.3;
	}
}

.film-item, .team-item{
	.image {
		position: relative;

		&:after {
			content: " ";
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: $red;
			border-radius: 15px 15px 0 0;
			opacity: 0;
			transition: all 0.3s ease-in-out;
		}
	}
	&:hover{
		.image{
			&:after{
				opacity: 1;
			}
		}
	}
}

.icons{
	width: 100%;
	display: flex;
	margin-bottom: 10px;
	position: relative;
}
.icon{
	position: relative;
	margin-right: 14px;
	min-width: 18px;
	min-height: 18px;
	&:after{
		content: " ";
		background-color: white;
		width: 18px;
		height: 18px;
		position: absolute;
	}
	cursor: pointer;
	&:hover{
		&:after {
			background-color: $green;
		}
	}
}

.phone:after{
	mask-image: url('phone.svg');
	mask-repeat: no-repeat;
	mask-size: contain;
}

.mail:after{
	mask-image: url('mail.svg');
	mask-repeat: no-repeat;
	mask-size: contain;
	margin-top: 2px;
}

.web:after {
	mask-image: url('web.svg');
	mask-repeat: no-repeat;
	mask-size: contain;
}


.tooltip {
	position: relative;
	display: inline-block;
	min-width: 18px;
	min-height: 18px;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 100%;
	// background-color: black;
	// color: #fff;
	text-align: center;
	border: none!important;
	padding: 5px;
	top: -35px;
	position: absolute;
	white-space: nowrap;

	z-index: 1;
	border: 1px solid;
	font-size: 16px;

	span{
		background-color: black;
		height: 18px;
		padding: 5px 10px;
		border-radius: 6px;
	}
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.form-section{
	padding: 48px 0;
	h1{
		border-bottom: 1px solid white;
	}
	.form-wrapper{
		display: flex;
		justify-content: space-between;
		position: relative;
		.info{
			width: 45%;
		}
		.map{
			overflow: hidden;
			border-radius: 15px 15px 0 0;
			position: relative;
			iframe {
				margin: 0;
				filter: saturate(50%);
			}
		}
		p, h3{
			margin-top: 0;
		}
		.form{
			width: 45%;
			div{
				margin-bottom: 24px;
			}
			button{
				border: none;
				background-color: black;
				color: white;
				font-size: 30px;
				width: 100%;
				text-align: right;
				cursor: pointer;
			}
			label{
				width: 100%;
				color: $green;
				font-size: 16px;
			}
			input{
				width: 100%;
				background-color: transparent;
				border: none;
				border-bottom: 1px solid white;
				color: white;
				margin-top: 10px;
				font-size: 20px;
			}
			textarea{
				width: 100%;
				background-color: transparent;
				border: none;
				border-bottom: 1px solid white;
				min-height: 150px;
				color: white;
				margin-top: 10px;
				font-size: 20px;
			}
		}
	}
}


input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}


.sidebar-wrapper {
	width: 120px;
	height: calc(100vh - 250px);
	position: fixed;
	top: 150px;
	z-index: 999;
}

.sidebar {
	width: calc(100vh - 250px);
	transform-origin: left;
	transform: rotate(90deg);
	margin-left: 3vw;
	margin-top: -24px;
	display: flex;
	justify-content: center;

	a {
		margin: 0 3vh;
	}
}